@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  input {
    appearance: none;
    -webkit-appearance: none;
  }

  button {
    background: transparent;
  }
}

@layer utilities {
  .line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}
